* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

.App {
  background: url("./assets/images/main-background.png");
  padding: 2rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  transition: background-image 0.8s;
}

.day {
  background: url("./assets/images/day.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.night {
  background: url("./assets/images/night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.night .main-container {
  color: white;
  background-color: rgba(180, 180, 180, 0.209);
  box-shadow: 0 5px 10px 1px rgba(255, 255, 255, 0.452);
}
.day .main-container {
  color: white;
  background-color: rgba(87, 87, 87, 0.134);
  box-shadow: 0 5px 10px 1px rgb(255, 255, 255);
}

.main-container {
  color: white;
  z-index: 999;
  background-color: rgba(184, 184, 184, 0.209);
  backdrop-filter: blur(5px);
  padding: 1.8rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  min-width: 260px;
  transition: all 1s;
}

.search-bar-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 95%;
  margin-bottom: 2rem;
}

.search-bar-container input {
  width: 100%;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  margin-bottom: 5px;
}

label {
  position: absolute;
  bottom: -15px;
  left: 10px;
  display: none;
  color: rgb(255, 248, 118);
  font-weight: lighter;
  font-size: 0.7rem;
}

input.notfound + label {
  display: block;
}

input:focus {
  outline: 2px solid white;
  outline-offset: 2px;
}

.search-bar-container button {
  cursor: pointer;
  background-color: white;
  padding: 0.5rem 0.55rem;
  border: none;
  border-radius: 1rem;
  color: black;
  font-weight: bold;
  transition: transform 0.3s;
}
button i {
  transition: transform 0.3s;
}

@media (hover: hover) {
  .search-bar-container button:active,
  .search-bar-container button:hover i {
    transform: scale(1.1);
  }
}
@media (hover: none) {
  .search-bar-container button:active,
  .search-bar-container button:active i {
    transform: scale(1.1);
  }
}

@media (min-width: 900px) {
  .main-container {
    max-width: 900px;
    gap: 2rem;
  }

  .search-bar-container {
    justify-content: flex-start;
  }
  .search-bar-container input {
    width: 45%;
  }
}

main {
  width: 100%;
  opacity: 1;
}
.day main {
  animation: fadeinDay 1s linear forwards;
}
.night main {
  animation: fadeinNight 1s linear forwards;
}
@keyframes fadeinDay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeinNight {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.weather-description {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  width: 70%;
  margin: auto;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid white;
}
img {
  width: 100%;
  max-width: 140px;
  aspect-ratio: 1/1;
  user-select: none;
  margin-bottom: -1rem;
}
ul {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
ul li {
  text-transform: capitalize;
}

.temperature  {
  font-size: 3.5rem;
  font-weight: bold;
  position: relative;
}
.temperature ::after {
  content: "°";
  position: absolute;
  top: -3px;
  right: -19px;
}
.name {
  font-size: 1.4rem;
  font-weight: 400;
}
.description {
  font-size: 1rem;
  margin-bottom: 5px;
}
.minmax {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 900px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
  }
  .weather-description {
    justify-content: end;
    margin: unset;
    gap: unset;
    width: 100%;
    border-bottom: none;
    border-right: 1px solid white;
  }
  .weather-img-container {
    margin: unset;
  }
}
.weather-img-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 1.3rem;
}

.additional-info {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin: 1rem auto;
}
.additional-info .info-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  width: 100%;
  max-width: 350px;
  margin: auto;
}
.info-row span {
  user-select: none;
  line-height: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #ffffff38;
  backdrop-filter: blur(5px);
  padding: 1rem 0.8rem;
  border-radius: 10px;
}
.info-row span b {
  font-size: 0.8rem;
}
.info-row span p {
  line-height: 1.3rem;
}
p small {
  font-size: 0.6rem;
}
@media (min-width: 900px) {
  .additional-info {
    display: grid;
    justify-content: flex-end;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    width: 100%;
    align-self: self-start;
  }
  .additional-info .info-row {
    place-items: center;
  }
  .info-row span {
    max-width: 130px;
    width: 100%;
  }
}
