/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

.App {
  padding: 2rem 0;
  background-color: gray;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-container {
  z-index: 999;
  background-color: rgba(7, 7, 7, 0.209);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 1.8rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  min-width: 260px;
  -webkit-transition: background-color 1.5s;
  -o-transition: background-color 1.5s;
  transition: background-color 1.5s;
  color: white;
}
.main-container.night {
  background-color: #191820;
}
.main-container.day {
  background-color: rgb(91, 186, 255);
}
.search-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}
.search-bar-container .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: self-start;
  -ms-flex-align: self-start;
  align-items: self-start;
  width: 100%;
  gap: 1rem;
  position: relative;
}
.search-bar span {
  width: 80%;
}
.search-bar-container input {
  width: 100%;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  margin-bottom: 5px;
}

label {
  display: none;
  color: #f70021;
  font-weight: lighter;
  font-size: 0.8rem;
}
input.notfound {
  outline: 1px solid red;
  outline-offset: 1px;
}
input.notfound + label {
  display: block;
}

input:focus {
  outline: 2px solid white;
  outline-offset: 2px;
}

.search-bar-container button {
  cursor: pointer;
  background-color: white;
  padding: 0.5rem 0.55rem;
  border: none;
  border-radius: 1rem;
  color: black;
  font-weight: bold;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
button i {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

@media (hover: hover) {
  .search-bar-container button:active,
  .search-bar-container button:hover i {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@media (hover: none) {
  .search-bar-container button:active,
  .search-bar-container button:active i {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.sub-container {
  width: 100%;
}
@media (min-width: 900px) {
  .main-container {
    max-width: 900px;
    gap: 2rem;
  }
  .sub-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
  }
  .search-bar-container {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .search-bar span {
    width: 40%;
  }
  .search-bar-container .search-bar {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.weather-description {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 999;
  width: 70%;
  margin: auto;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid white;
}
img {
  width: 100%;
  max-width: 140px;
  aspect-ratio: 1/1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: -1rem;
}
ul {
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}
ul li {
  text-transform: capitalize;
}

.temprature {
  font-size: 3.5rem;
  font-weight: bold;
  position: relative;
}
.temprature::after {
  content: "°";
  position: absolute;
  top: -3px;
  right: -19px;
}
.name {
  font-size: 1.4rem;
  font-weight: 400;
}
.description {
  font-size: 1rem;
  margin-bottom: 5px;
}
.minmax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 900px) {
  .weather-description {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    margin: unset;
    gap: unset;
    width: 100%;
    border-bottom: none;
    border-right: 1px solid white;
  }
  .weather-img-container {
    margin: unset;
  }
}
.weather-img-container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin-bottom: 1.3rem;
}

.weather-info {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin: 1rem auto;
}
.weather-info div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  margin: auto;
}
.weather-info span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
  background-color: #ffffff38;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 1rem 0.8rem;
  border-radius: 10px;
}
.weather-info span b {
  font-size: 0.8rem;
}
.weather-info span p {
  line-height: 1.3rem;
}
p small {
  font-size: 0.6rem;
}
@media (min-width: 900px) {
  .weather-info {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    width: 100%;
    -ms-grid-row-align: self-start;
    align-self: self-start;
  }
  .weather-info div {
    place-items: center;
  }
  .weather-info span {
    max-width: unset;
    width: 100px;
  }
}
